/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .navigationSlider .slidingNav ul li a:hover {
        color: #fff !important;
    }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.docMainWrapper img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.07);
    transition: all .3s ease-out;
    border-radius: 0.5rem !important;
    margin: 2rem 0;
}

.docMainWrapper img:hover {
    -webkit-transform: translateY(-0.3em);
    transform: translateY(-0.3em);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 18px 0 rgba(0, 0, 0, 0.06), 0 3px 5px 0 rgba(0, 0, 0, 0.07);
}

article a {
    font-weight: 400;
}

.fixedHeaderContainer a:hover {
    color: #d4d4d4 !important;
}

@media only screen and (min-width: 480px) {
    .projectTitle {
        font-size: 300%;
        margin: 3em 0;
    }
}

@media only screen and (min-width: 1200px) {
    .homeContainer .homeWrapper .projectLogo {
        -webkit-box-align: center;
        align-items: center;
        bottom: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
        left: 0;
        padding: 4em;
        position: absolute;
        right: 0;
        top: 0;
    }

    .homeContainer .homeWrapper .projectLogo img {
        height: 100%;
        max-height: 8rem;
    }
}

.promoSection {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    font-size: 125%;
    line-height: 1.6em;
    position: relative;
    z-index: 99;
}

.promoSection .promoRow .pluginRowBlock {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0 -2px;
}

.button {
    border: 1px solid #4a148c;
    border-radius: 3px;
    color: #4a148c;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 1rem;
    text-decoration: none !important;
    text-transform: uppercase;
    -webkit-transition: background .3s, color .3s;
    transition: background .3s, color .3s;
    margin: 1rem;
}

.imageAlignTop .blockImage {
    margin-bottom: 2rem;
    max-width: 6rem;
    max-height: 6rem;
    height: 6rem;
}

.productShowcaseSection p {
    text-align: center;
}

.container .wrapper .imageAlignSide p {
    margin: 0 0 40px;
    max-width: 560px;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.mainContainer .wrapper {
    text-align: right;
}

@media only screen and (min-width: 1024px) {
    .docMainWrapper > :first-child {
        margin-right: 0;
    }

    .onPageNav > .toc-headings {
        border-right: 1px solid #e0e0e0;
        border-left: none;
        padding: 10px 15px 2px 0;
    }

    .docMainWrapper > :last-child {
        margin-left: 0;
        margin-right: 24px;
    }
}

blockquote {
    background-color: rgba(234, 128, 252, .3);
    border-right: 1rem solid #d500f9;
    border-left: none;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 2px 2px 0 rgba(0, 0, 0, .06), 0 1px 3px 0 rgba(0, 0, 0, .07);
}

.collapsible .arrow {
    float: left;
    margin-left: 8px;
    margin-top: -4px;
    transform: rotate(-90deg);
    transition: transform 200ms linear;
}

.collapsible .arrow.rotate {
    transform: rotate(-180deg);
}

#back-to-top {
    background: #6200ea !important;
}

.fixedHeaderContainer header h3 {
    margin-right: 10px;

}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
    color: #311b92;
    font-size: 1.3rem;
    font-weight: 700;
}

.toc .toggleNav ul li a {
    color: #9e9e9e;
    font-weight: 600;
    font-size: 1rem;
}

.hash-link {
    margin-right: -20px;
    margin-left: 0px;
}

.h_iframe-aparat_embed_frame {
    margin: 2rem 0;
}

.h_iframe-aparat_embed_frame iframe {
    border-radius: 0.5rem !important;
}
.docs-next {
    float: none;
}
.blockContent p{
    text-align: justify;
}
.gridBlock > * {
        margin: 1rem !important;
        padding: 1rem;
        box-shadow: 4px 4px 16px -3px #6200ea44;
         border-radius: 1rem;
    }
.docsContainer p{
    text-align: justify;
    text-align-last: right;
}
.postContainer {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
}